<app-navbar></app-navbar>
<div class="container bg-white my-3 box-shadow">
  <div class="row">
    <div class="col-lg-12  text-center" >
      <h2 class="mb-0 text-red">Resultados</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <h4 class="text-purple w-100 pl-2 py-3 my-4 border-bottom border-purple ">
        Rafa:
        <span>1</span>
      </h4>
    </div>
    <div class="col-lg-4">
        <h4 class="text-gray w-100 pl-2 py-3 my-4 border-bottom border-purple ">
            Empates: <span>1</span>
         </h4>
    </div>
    <div class="col-lg-4">
        <h4 class="text-gray w-100 pl-2 py-3 my-4 border-bottom border-purple ">
            Loco: <span>1</span>
         </h4>
    </div>

  </div>
</div>
<div class="bg-white my-3 box-shadow">
  <div class="row justify-content-md-center">
    <div class="col-lg-2 col-md-3 col-sm-4 text-center py-2">
      <app-grid [ListaRows]="ListaRows"></app-grid>
    </div>
  </div>
</div>
