.logo{
  display: block;
  margin: 0 auto;
  width: 260px;
  height: auto;
}

header.igbox{
  background-color: #2B2D42;
  color: #fff;
}

h1 {

    font-family: "ralewaybold";
    letter-spacing: 2px;
    vertical-align: middle;
}
